.skewCard {
	display: inline-block;
	transform: skewX(-.2rad);
	background: #f0f0f0;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.7);
	width: 500px;
	height: 300px;
	margin: auto;
}

.cardCont {
	display: block;
	transform: skewX(.2rad);
	margin: auto;
}

.cardCont img {
	margin: 4rem 0;
}