.federal {
	display: inline-block;
	margin: 12rem auto;
	text-align: center;

	display: grid;
    align-items: center;
    justify-content: center;
}

.federalMain {
    margin-bottom: 5rem;
    margin-top: 1rem;
    font-family: "azo-sans-web";

    transform: skewX(-.15rad);
	background: #fff;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.7);
	width: 900px;
	height: 500px;
	margin: auto;
	overflow: hidden;
	z-index: 5;

	
}

.federalback {
	transform: skewX(.15rad);
	background-image: url("../images/LevelUP11.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	width: 111%;
	height: 111%;
	position: relative;
	right: 50px;
}

.federalCont {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

.federalCont h3 {
	font-family: "Ready Player One";
	color: #fff;
	/*text-shadow: 1px 2px 2px #f0f0f0;*/
	font-size: 3.8rem;
	padding: 2.5rem 0 2rem 0;
	font-weight: 400;
}

.federalCont p{
	color: #fff;
	font-size: 1.2rem;
}

.fedButton button {
	transform: skewX(-.15rad);
	width: 350px;
	height: 80px;
	margin: .5rem auto 0 auto;
	border-width: 0;
	background: #2c65ac;
	box-shadow: 0px 5px 20px -2px rgba(121, 211, 255, 0.25);
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}
.fedButton button:hover {
	box-shadow: 0px 5px 20px -2px rgba(121, 211, 255, 0.75);
	text-shadow: 1px 2px 2px #2e3a74;
}

.fedButton h4 {
	transform: skewX(.15rad);
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
	margin: auto;
}



@media (max-width: 900px){
	.federalMain{
		width: 75vw;
	}

	.fedButton button{
		position: relative;
		width: 50vw;
		right: 20px;
	}

	.federalback {
		background-size: 200%;
		width: 130%;
		right: 40px;
	}

	.federalCont h3, .federalCont p {
		position: relative;
		max-width: 60vw;
		left: 80px;
	}	
}