.heroDivide {
	display: block;
	width: 100%;
	max-width: 600px;
	margin: auto;
	padding: 0 0 .5rem 0;
}

.heroCont {
	justify-content: center;
	margin: 8rem 8rem;
	width: 600px;
}

.heroTitle {
	text-align: left;
	font-family: "Ready Player One";
	font-size: 42px;
	margin-bottom: 0;
	font-weight: 100;
}

.heroTitleBig {
	font-size: 86px;
	font-weight: 600;
}

.heroTitleSmall {
	font-size: 28px;
}

.heroDes {
	text-align: center;
	max-width: 525;
	margin: auto;
	font-family: "azo-sans-web";
	font-size: 22px;
}


@media (max-width: 1200px){
	.heroCont {
		margin: 5rem 4rem; 
	}
}

@media (max-width: 900px){
	.heroBanner {
		background-position: top;
		margin-top: 80px;
	}
	.heroCont {
		margin: 8rem 3rem; 
	}
}

@media (max-width: 768px){
	.heroCont {
		margin: 10rem 1rem;
		width: 400px;
	}
	.heroTitle {
		font-size: 30px;
	}
	.heroTitleBig {
		font-size: 46px;
	}
}

@media (max-width: 500px){
	.heroCont {
		justify-content: flex-start;
		margin: 9rem auto 10rem -.5rem;
		width: 320px;
	}

	.heroDivide {
		transform: scaleX(-1);
	}
}