.cta {
	display: inline-block;
	margin: 12rem auto 12rem -18px;
	text-align: center;
}

.ctaMain {
    font-family: "azo-sans-web";

    transform: skewY(-.05rad);
	background: #fff;
	width: 100vw;
	height: 1000px;
	margin: auto;
	overflow: hidden;
	z-index: 5;
}

.ctaBack {
	transform: skewY(.05rad);
	background-image: url("../images/AFMag1.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	width: 110%;
	height: 110%;
	position: relative;
	top: -45px;
}

.ctaCont {
	width: 100%;
	height: 100%;
	background-color: rgba(7,20,172,0.6);
}

.ctaWork{
	position: relative;
	left:-4%;
}

.ctaCont h2 {
	font-family: "Ready Player One";
	color: #fff;
	font-size: 3.5rem;
	padding: 7.5rem 0 0 0;
	font-weight: 400;
	margin: auto;
}

.ctaCont h4 {
	color: #fff;
	font-size: 1.5rem;
	padding: 2rem 0;
	margin: auto;
}

.workCont {
	height: 500px;
	width: 35vw;
	background-color: #f0f0f0;
	margin: auto;
}

.workButton button {
	font-size: 2rem;
	font-weight: bold;
	color: #2c65ac;
	width: 350px;
	height: 100px;
	margin: 3rem auto 0 auto;
	border-width: 0;
	background: #f0f0f0;
	box-shadow: 0px 5px 20px -2px rgba(121, 211, 255, 0.25);
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}
.workButton button:hover {
	box-shadow: 0px 5px 20px -2px rgba(121, 211, 255, 0.75);
	text-shadow: 1px 2px 2px #2e3a74;
}

@media (min-width: 1113px) and (max-width: 1366px){
.ctaBack {
	background-size: 120%;
}
.workCont {
	width: 50vw;
}
}

@media (min-width: 901px) and (max-width: 1112px){
.ctaBack {
	background-size: 130%;
}
.workCont {
	width: 55vw;
}
}

@media (min-width: 751px) and (max-width: 900px){
.ctaBack {
	background-size: 170%;
}
.workCont {
	width: 75vw;
}
.workButton button {
	width: 350px;
}
}

@media (min-width: 376px) and (max-width: 750px){
.ctaBack {
	background-size: 310%;
}
.workCont {
	width: 85vw;
}
.workButton button {

	width: 320px;

}
}

@media (max-width: 375px){
.ctaBack {
	background-size: 390%;
}
.workCont {
	width: 85vw;
}
.workButton button {
	width: 250px;
}
.ctaCont h2{
	font-size: 3rem;
}
.ctaCont h4{
	font-size: 1.2rem;
}
}